[submodule "Test2"]
	path = Test2
	url = https://github.com/YaroslavLisovets/Task2-2024.git
[submodule "Test3"]
	path = Test3
	url = https://github.com/YaroslavLisovets/Test3-09.2024.git
[submodule "Task1"]
	path = Task1
	url = https://github.com/YaroslavLisovets/Task1-09.2024.git
